# Кеш Python
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/
.venv/
env/
.env

# Кеш pytest
.pytest_cache/

# Отчёты о покрытии
.coverage
htmlcov/

# Настройки IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Исключить результаты тестов Allure (сырые данные)
allure-results/